import { LitElement, html } from "lit";
import { customElement, property } from "lit/decorators.js";
import { ValtioElement } from '../../core/state'

@customElement("osl-{{lowerCase name}}")
export class Osl{{titleCase name}} extends ValtioElement<StateSchema> {
  render() {
    return html`
      <div>
        <h1>Hello, {{titleCase name}}!</h1>
      </div>
    `;
  }
}

declare global {
  interface HTMLElementTagNameMap {
    "osl-{{lowerCase name}}": Osl{{titleCase name}};
  }
}